body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.myNav {
    height: 60px;
    color: #fff;
    background-color: #dd2c00;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    padding: 15px 0 0 0;
    border-bottom: solid thin #dd2c00;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.submittedExercisesPara {
    border-bottom: solid thin #ccc;
}

.glyphicon-remove {
    color: #CC0000;
}

.btn[data-title="add"] {
    margin-top: 15px;
}

.myNav p {}

.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#signIn {
    position: relative;
    left: 50%;
    transform: translate(-50%, -30%);
}

#login {
    margin: 15px 0 0 0;
}

#workoutName {
    margin: 25px 0 0 0;
}

thead tr th {
    text-align: center;
}

tbody tr td {
    text-align: center;
}